<div class="modal-backdrop" (click)="onOutsideClick()">
  <div class="modal-container" [ngClass]="size || ''" (click)="$event.stopPropagation()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{ title() }}</div>
          @if (showCloseButton()){
            <button type="button" class="close-button" (click)="close()">x</button>
          }
        </div>

        <div class="modal-body" style="margin-bottom: 0">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
